@import "partials/gallery";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

#app {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}

.info {
  font-weight: bolder;
  text-align: center;
  a {
    text-decoration: none;
    color: #483177;
  }
}

#app {
  @media only screen and (max-width: 600px) {

  }
  @media (max-width: 450px) {
    
  }
  @media (min-width: 450px) and (max-width: 900px) {
    
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    
  }
  @media (min-width: 1200px) {
    
  }
}